.home{
  display: grid;
  grid-template-columns: repeat(4, minmax(50px, 250px));
  justify-content: center;
  gap: 20px;
  padding: 0px 10px;
}

@media (max-width:780px){
  .home{
    grid-template-columns: repeat(2, minmax(50px, 250px));
  }
}

@media (max-width:420px){
  .home{
    grid-template-columns: repeat(1, minmax(50px, 250px));
  }
}