@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,800;1,400&family=Source+Serif+Pro:ital,wght@0,400;0,700;1,400;1,600&display=swap');

body{
  color: #585858;
  font-family:'Open Sans', sans-ser ;
  margin: 0px;
  padding: 0px;
  background-image: url(./img/imgBackground.svg) ;
  background-attachment: fixed;
  box-sizing: border-box;
  min-height: 100vh;
  
}


ul{
  margin: 0px;
  padding: 0px;
}
a{
  color: #000;
  text-decoration: none;
}

li{
  list-style: none;
}

h1{
  font-size: 1.5rem;
}


.content{
  max-width: 1000px;
  margin: 0 auto;
}


footer{
  margin-top: 100px;
  background: #D1232A;
  height: 200px;
}


/* CORES TYPES*/

.grass{background: #56CC9D;}

.fire{background: #EE3333;}

.water{background: #79C9FA;}

.normal{background: #A8A878;}

.fighting{background: #D1232A;}

.flying{background: #3A7FC4;}

.poison{background: #A040A0;}

.ground{background: #E0C068;}

.rock{background: #CCAF5F;}

.bug{background: #A8B820;}

.rock{background: #56CC9D;}

.ghost{background: #705898;}

.steel{background: #D7E5F4;}

.electric{background: #FFD045;}

.psychic{background: #EE99AC;} 

.ice{background: #8ADDE5;}

.dragon{background: #3A7FC4;}

.dark{background: #4F4F4F;}

.fairy{background: #EFA5BC;}

 
/* CORES STATUS */

.hp{background: #56CC9D;}
.defense{background: #5793EA;}
.attack{background: #5793EA;}
.special-defense{background: #EB0163;}
.special-attack{background: #EB0163;}
.speed{background: #FFC107;}


.animationCard{
  animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

@keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-filter: blur(4px);
            filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}


.animationCard2{
  animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}


.animation2{
  animation: fade-in 2.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.aniFooter{
  animation: fade-in 7.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}