body{
  margin: 0px;
  padding: 0px;
  background-image: url(./img/imgBackground.svg) ;
  background-attachment: fixed;
  box-sizing: border-box;
}


ul{
  margin: 0px;
  padding: 0px;
}
a{
  color: #000;
  text-decoration: none;
}

li{
  list-style: none;
}

h1{
  font-size: 1.5rem;
}


.content{
  max-width: 1000px;
  margin: 0 auto;
}


