
.infoTitle{
  margin: 0px;
  padding: 0px;
  font-weight: bold;
  margin-top: 14px;
  margin-bottom: 10px;
}

.infoTitle::before{
  content: ' ';
  width: 20px;
  height: 10px;
  margin-right: 10px;
  display: inline-block;
  background: #56CC9D;
}


/* IMG POKEMON */
.imgPokemon{
  box-sizing: border-box;
  padding: 0px 15px;   
}
.imgPokemon > div{
  height: 100%;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  background: white;
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.15);
  
}
.imgPokemon img{
  max-width: 280px;
  width: 100%;
  margin: 0 auto;
  display: block;
  filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.25));
}

/* INFO POKEMON */
.InfoPokemon{
  box-sizing: border-box;  
}
.title{
  text-transform: capitalize;
  font-size: 28px;
  margin: 5px 0px 10px;
}
.types{
  display: flex;
  margin-bottom: 14px;
}
.types li{
  border-radius: 3px;
  text-transform: capitalize;
  padding: 5px 8px;
  text-align: center;
  margin-right: .5rem;

  font-size: 14px;
  color: white;
  font-weight: bold;
}
.divInfos{
  display: inline-block;
}
.infos{
  font-size: 14px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: auto auto;
  margin: 20px auto;
  padding: 10px;
  box-sizing: border-box;
  background: white;
  border: 1px solid #EE5533;
}
@media (max-width: 380px){
  .infos{
    grid-template-columns: auto;
  }
}
.infos li{
  max-width: 300px;
}

.blockquete{
  font-size: 0.95rem;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 3px;
  color: white;
  text-align: center;
}




/* INFO POKEMON end*/

/* STATUS */

.status{
  font-size: 15px;
  background: white;
  border: 1px solid #EE5533;
  border-radius: 5px;
  padding: 10px 0px;
}

.status ul{
  display: grid;
  grid-template-columns: auto auto;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
  box-sizing: border-box;
  max-width: 700px;
  margin: 0 auto;
}
@media (max-width: 580px){
  .status ul{
    grid-template-columns: auto;}
}

.status b{text-transform: capitalize;}

.status li{
  display: flex;
  justify-content: space-between;
  gap: 20px;
}


.status div{
  display: flex;
  border: 1px solid rgb(102, 102, 102);
  min-width: 150px;
  border-radius: 3px;
  max-height: 25px;
}

.status span{
  font-size: 12px;
  padding: 1px;
  box-sizing: border-box;
  color: white;
}

@media (max-width: 380px){
  .status li{
    display: block;
  }
  .status b{margin-bottom: 5px;};

  .status div{
    min-width: 0px;
    flex: 1;
  }
}


/* STATUS end*/

/* EVOLUTION */
.evolution{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: white;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-right: 10px;
  padding: 20px 0px;

}

.evolution{
  display: flex;
  
}
.evolution ul{
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 30px;
}

.evolution li{
  position: relative;
  background: white;
  text-align: center;
}

.evolution h4{
  margin: 0 auto;
  left: auto;
  right: auto;
  width: 100%;
  text-transform: capitalize;
}


.evolution img{
  margin-top: 10px;
  border-radius: 3px;
  border: 1px solid #000;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
/* EVOLUTION end*/



/* MOVES */
.moves{
  background: white;
  margin: 0 5px;
  border-radius: 5px;
}
.moves ul{
  display: grid;
  grid-template-columns: auto auto;
  overflow: auto;
  height: 200px;
  padding: 10px 2px;
  
}
@media (max-width: 480px){
  .moves ul{
    grid-template-columns: auto;}
}
.moves span {
  padding: 0px;
  margin: 0px;
  display: inline-block;
}
.moves li{
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 5px;
  margin: 2px 5px;
  border-radius: 3px;
  font-size: 13px;
  text-transform: capitalize;
  background: #d6d5d5;
}
.moves span{
  display: flex;
  gap: 10px;
}
.moves p{
  margin: 0px;
  color: aliceblue;
  display: block;
  padding: 5px;
  border-radius: 3px;
}